<%= stylesheet_link_tag 'index', :media => "all" %>
<h1>step 1</h1>

<h2>あなたのオススメしたい映画を選ぼう！</h2>
<div>
<%= form_tag(movies_search_path, method: :post) do %>
  <%= search_field_tag :looking_for, nil, placeholder: '映画のタイトルを記入してね' %>
 
  
  <%= submit_tag '検索'%>
    
  <% end %>
</div>



