input[type="search"] {
width: 333px;
height: 47px;
left: 10px;
top: 246px;

background: #C4C4C4;
  }

input[type="submit"] {
    width: 44px;
    height: 47px;
    left: 377px;
    top: 246px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #000000;
    
  }

  h1 {
width: 289px;
height: 51px;
left: 10px;
top: 117px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;

  }

  h2 {
width: 333px;
height: 46px;
left: 10px;
top: 168px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;

  }

  h3 {
    width: 342px;
    height: 30px;
    left: 10px;
    top: 350px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #000000;
    
  }